terraform {
  backend "azurerm" {
    storage_account_name = "{{ backend.account_name }}"
    container_name       = "{{ backend.container }}"
    key                  = "{{ backend.key }}"
    use_oidc             = true
    use_azuread_auth     = true
  }
}
